* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: poppins;
    overflow-x: hidden;
  }
  
  /* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
#about-us{
    padding: 14vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    /* background-color: blue; */
}
/* ****************** */
.abt-content{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    /* background-color: yellow; */
}
.abt-content h1{
    font-weight: 800;
    color: orangered;
}

.abt-content p{
    margin-top: 30px;
    font-size: 18px;
    color: #1f3b5c;
}
/* ***************************** */

.abt-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    /* background-color: yellow; */
}
.abt-pic img{
    width: 100%;
    height: 90vh;
    border: #1f3b5c 20px solid;
}

/* ************************************* */
#mission-vision{
  display: flex;
  width: 100vw;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
}
.cover {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 40vw; 
  height: 55vh;
  position: relative;
  overflow: hidden;
  color: white;
  background: linear-gradient(-45deg, #1f3b5c, rgb(255, 98, 0), #1f4c5c, orangered );
  background-size: 200% 200%;
  animation: gradientShift 4s ease infinite;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.text-overlay{
  position:absolute;
  z-index: 2;
  text-align: center;
  padding: 50px;
}
.text-overlay h1{
  font-weight: 700;
}
.text-overlay p{
  font-size: 20px;
}
