@media (max-width: 768px) {

    #about-us{
      padding: 0;
      margin-top: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    .abt-content{
      width: 95%;
      padding: 10px;
  }
  .abt-pic{
    width: 95%;
    margin: 20px 0;
  }
  .abt-pic img{
    border: #1f3b5c 10px solid;
}

  #mission-vision{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
   .cover{
    width: 90%;
    height: 60vh;
    text-align: center;
   }
    }

    /* *********************************** */
  @media (min-width: 992px) {
    .navbar-collapse {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      background-color: transparent !important;
    }
  
    .navbar-nav {
      flex-direction: row;
      align-items: center;
    }
  
    .nav-link {
      padding: 0.5rem 1rem;
    }
  
    .social-icons {
      padding: 0;
    }







   
  }