@media (max-width: 768px) {

    #about-us{
      padding: 0;
      margin-top: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    .abt-content{
      width: 90%;
      padding: 10px;
  }
  .abt-pic{
    width: 80%;
    margin: 30px 0;
  }



      /* **************************************8 */
      footer{
        flex-direction: column;
        width: 100%;
      }
      .one{
        display: flex;
        width: 100%;
        height: auto;
      }
      .two{
        width: 100%;
        padding: 10px;
        /* background-color: lime; */
      }
  
      .ban{
        width: 100%;
        padding-left: 25px;
      }
      .address{
        width: 100%;
      }
  
   
    }

    /* *********************************** */
  @media (min-width: 992px) {
    .navbar-collapse {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      background-color: transparent !important;
    }
  
    .navbar-nav {
      flex-direction: row;
      align-items: center;
    }
  
    .nav-link {
      padding: 0.5rem 1rem;
    }
  
    .social-icons {
      padding: 0;
    }







   
  }