@media (max-width: 768px) {


      /* **************************************8 */
      footer{
        flex-direction: column;
        width: 100%;
      }
      .one{
        display: flex;
        width: 100%;
        height: auto;
      }
      .two{
        width: 100%;
        padding: 10px;
      }
  
      .ban{
        width: 100%;
        padding-left: 25px;
      }
      .address{
        width: 100%;
      }
  
   
    }

    /* *********************************** */
  @media (min-width: 992px) {
    .navbar-collapse {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      background-color: transparent !important;
    }
  
    .navbar-nav {
      flex-direction: row;
      align-items: center;
    }
  
    .nav-link {
      padding: 0.5rem 1rem;
    }
  
    .social-icons {
      padding: 0;
    }







   
  }