@media (max-width: 768px) {

    }

    /* *********************************** */
  @media (min-width: 992px) {
    .navbar-collapse {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      background-color: transparent !important;
    }
  
    .navbar-nav {
      flex-direction: row;
      align-items: center;
    }
  
    .nav-link {
      padding: 0.5rem 1rem;
    }
  
    .social-icons {
      padding: 0;
    }

   
  }